.webrepo:link {
    color: rgb(0, 0, 190);
    text-decoration: none;
}

.webrepo:visited {
    color: rgb(0, 0, 190);
    text-decoration: none;
}

.webrepo:hover {
    animation-name: webrepohover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes webrepohover {
    0% {
        color: rgb(0, 0, 190);
    }
    100% {
        color: blue;
        font-weight: 500;
    }
}