.topbar{
  overflow: hidden;
  background-color: rgb(6, 6, 9);
  position: sticky;
}

.home {
  float: left;
}
.git {
  float:left;
  text-align: center;
  padding: 21px 11px;
  text-decoration: none;
  font-size: 16px;
  color: lightgray;
  font-family: 'jetbrainsmonoregular', Arial, sans-serif
}
.gallery{
  float:left;
  text-align: center;
  padding: 21px 11px;
  text-decoration: none;
  font-size: 16px;
  color: lightgray;
  font-family: 'jetbrainsmonoregular', Arial, sans-serif
}

.twitter{
  float:right;
  padding: 16px 16px;
}

.yt{
  float:right;
  padding: 13px 16px;
}
