.git:hover {
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.twitter:hover {
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.yt:hover {
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.gallery:hover {
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes hover {
    0% {
        background-color: #0a0a0e
    }
    100% {
        background-color: #555555
    }
}